@font-face {
	font-family: raleway;
	src : url('typo/raleway.woff') format('woff'),
		url('typo/raleway.otf') format('otf'),
		url('typo/raleway.ttf') format('ttf'),
		url('typo/raleway.svg') format('svg');
}

@font-face {
font-family: raleway-gras;
	src : url('typo/raleway-gras.woff') format('woff'),
		url('typo/raleway-gras.otf') format('otf'),
		url('typo/raleway-gras.ttf') format('ttf'),
		url('typo/raleway-gras.svg') format('svg');
}

*{
	font-family: raleway, Verdana, Arial;
	color: black;
}

h3{			
	font-family: raleway-gras;
	color: black;
	font-size: large;
}

a{
	text-decoration: none;
}

body{
	background-color: #f2f2f2;
	margin: auto;
	width: 92%;
}

/*tete */

header{
	
	display: flex;
	align-items: center;
	height: 150px;
	width: 100%;
}

header nav{
	display: flex;
	flex: 1;
}
nav img{
	margin-top: 35px;
}
#list{
	justify-content: flex-end;
}
#list a{
	border-top: 4px #f2f2f2 solid;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 150px;
	width: 175px;
	text-decoration: none;
	font-size: large;
}

#list a:hover{
	color: #0065fc;
	border-top: 4px #0065fc solid;
}

.inscrire{
	font-family: raleway-gras;
	color: #0065fc;
}

/* barre de recherche*/

h1, h2{
	font-family: raleway-gras;
	font-size: 155%
}

section p{
	font-size: 110%;
}
fieldset{
	border: none;
}

.cherche{
	display: flex;
}

.loupe{
	margin-top: 10px;
}

input[type='search'], input[type='submit']{
	border: none;
	color: black;
	height: 55px;
	min-width: 275px;
	font-family: raleway;
	font-weight: bold;
	font-size: 125%;
	margin-left: 25px;
}

input[type='search'], input[type='submit']:focus{
	outline: none;
}

input[type='submit']{
	background-color: #0065fc;
	border-radius: 0 15px 15px 0;
	min-width: 150px;
	color: white;
}

input[type='image']{
	display: none;
}

/*filtres*/

.filtre{  
	width: 100%;
	display: block;
	justify-content: space-between;
	flex-wrap: wrap;
	font-weight: bold;
	font-size: large;
}

label{
	font-family: raleway-gras;
}

.checkbox input{
	display: none;
}

.switch{ /*partie blanche des boutons*/
	border-radius: 60px;
	display: inline-block;
	height: 60px;
	position: relative; 
	margin: 10px 10px;
	box-shadow: 0px 0px 7px grey;
}

.switch span{ /*l'alignement du texte*/
	vertical-align: middle;
}

#circle{ /*l'image associé au bouton*/
	display: inline-block;
	position: relative;
	border-radius: 60px;
	z-index:3;
}

#text{ /*texte dans les boutons*/
	display: inline-block;
	font-family: raleway-gras;
	position: relative;
	margin-right: 20px;
	z-index: 2;
	transition-duration: 0.2s;
}

#imblue{ /*partie bleu des boutons*/
	display: inline-block;
	position: absolute;
	left: 0;
	width: 60px; height: 60px;
	border-radius: 60px;
	z-index: 1;
	background-color: #0065fc;
	transition-duration: 0.2s;
}

input:checked + .switch #text{
	color: #f2f2f2;
}

input:checked + .switch #imblue{
	width: 100%;
}
form p{
	display: flex;
	font-size: large;
}
form p img{
	position: relative;
	top: -5px;
	margin-right: 5px;
}

/*les lieux*/

.lieu { 
	display: flex;
	margin-top: 50px;
	justify-content: space-between;
}

#hebergement{
	flex-direction: column;
	width: 66%;
	padding: 60px 0;
}

#chambre{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#titre{
	margin-top: -60px;
}

.lieu #case a {/*les boites*/
	width: 300px; height: 250px;
	border-radius: 35px; 
	position: relative;
	display: block;
	padding: 10px 10px;
	margin: 20px 10px;
	box-shadow: 0px 0px 7px grey;
}

#note{/* dans la boite*/
	display: flex;
	flex-direction: column;
	margin-left: 10px;
}

#case h3,#case p{ /*le texte*/
	margin: 5px 0;
}

.pict{ /*la photo*/
	width: 300px;
	height: 150px;
	object-fit: cover;
	border-radius: 25px 25px 0px 0px; 
}
#unpeuplus{
}

/*pop*/

.pop{ /*la case pop*/
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap; 
}

#popul{ /*titre*/

	display: flex;
	justify-content: space-between;
	width: 400px;
	align-items: center;
	height: 50px;
}

.pop #case a{ /*la boite*/
	width: 400px;
	height: 170px;
	display: flex;
	align-items: center;
}

.pop .pict { /*image*/
	width: 150px;height: 170px;
	border-radius: 25px 0 0 25px;
}

.pop #note{ /* texte*/
	margin-left: 15px;
	width: 200px;
}

.pop #star{ /*les etoiles*/
	margin-top: 60px;
}

/*les activite*/


#activites{ /*la boite complete*/
	display: flex;
	flex-direction:column;
}

#typeacti{ /*la position des boites*/
	display: flex;
	flex-direction: column;
	height: 500px;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: flex-start;
}

.activites a{ /*la boite*/
	margin: 10px 25px;
}

#littlebox img{
	height: 150px; width: 350px;
}
#bigbox img{
	height: 400px; width: 350px;
}
/*footer*/

footer{ /***********responsive en cours*******************/
	display: flex;
}

footer div{
	flex-direction: column;
	margin-right: 250px;
}

div ul{
	padding-left: 0px;
}

div ul li{
	list-style-type: none;
	font-size: x-large;
	margin-top: 20px;
}
/**** responsive format tablette****/
@media screen and (max-width: 979px){
	
}
/****responsive format mobile****/

@media screen and (max-width: 480px){
	
	body{
		width: 100%;
	}

	header{
	}

	nav img{
		margin-left: 15px;
		margin-bottom: 60px;
	}

	.heberge, .act{
		border-bottom: 4px #f2f2f2 solid;
	}

	#list{
		position: absolute;
		flex-wrap: wrap-reverse;
		width: 100%;
		top: 15px;
		justify-content: flex-end;
	}

	#list a{
		border-top: none;
		margin-top: 20px;
		height: 45px;
		width: 50%;
	}

	.inscrire{
		border: none;
		margin-top: 10px;
		margin-right: -10%;
	}

	#list a:hover{
		border-top: none;
	}

	.heberge:hover, .act:hover{

		border-bottom: 4px #0065fc solid;
	}
	
	section h1, section p{
		margin-left: 15px;
		width: 85%;
	}

	input[type='submit']{
		display: none;
	}

	input[type='image']{
		display: block;
	}

	.cherche{
		width: 100%;
		justify-content: space-between;
	}
	.lieu{
		flex-direction: column-reverse;
		align-items: center;
	}

	#hebergement{
		display: block;
		width: auto;
	}
	#hebergement  #case a{
		display: inline; 
		padding: 5px 50px;
		margin: 0px;
		box-shadow: 0px 0px 0px ;
	}
	.pict{
		width: 400px;
	}

	#title{
		margin-left: 20px;
	}

	 #typeacti{
		width: auto;
		align-items: center;
		height: auto;
	}
	#typeacti a{
		margin-bottom: 30px;
	}

	#littlebox img, #bigbox img{
		width: 400px;
		height: 150px;
	}
	#resume{
		margin-left: 20px;
	}

	footer{
		
		display: block;
		margin-top: 50px;
		margin-left: 20px;
		}

	footer div{
		width: 400px;
		padding-bottom: 40px;
		/*flex-direction: column;
		margin-right: 250px;
	}

	div ul{
		padding-left: 0px;
	}

	div ul li{
		list-style-type: none;
		font-size: x-large;
		margin-top: 20px;
	}
}