@font-face {
	font-family: raleway;
	src : url('typo/raleway.woff') format('woff'),
		url('typo/raleway.otf') format('otf'),
		url('typo/raleway.ttf') format('ttf'),
		url('typo/raleway.svg') format('svg');
}

@font-face {
font-family: raleway-gras;
	src : url('typo/raleway-gras.woff') format('woff'),
		url('typo/raleway-gras.otf') format('otf'),
		url('typo/raleway-gras.ttf') format('ttf'),
		url('typo/raleway-gras.svg') format('svg');
}

*{
	font-family: raleway, Verdana, Arial;
	color: black;
}

h3{			
	font-family: raleway-gras;
	color: black;
	font-size: large;
}

a{
	text-decoration: none;
}

body{
	background-color: #f2f2f2;
	margin: auto;
	width: 92%;
}

/*tete */

header{
	display: flex;
	align-items: center;
	height: 150px;
	width: 100%;
}

#entete{
	justify-content: space-between;
	display: flex;
	width:100%; 
}
nav img{
	height: 60px;
	margin-top: 35px;
}
#list{
	width: 525px;
	height: 150px;
	display: flex;
}
#list div{
	flex-wrap: nowrap;
	display: flex;
}

.heberge, .act, .inscrire{
	display: flex;
	align-items: center;
	justify-content: center;

	height: 150px;
	width: 175px;
	border-top: 4px #f2f2f2 solid;
	font-size: large;
}

#list a:hover{
	color: #0065fc;
	border-top: 4px #0065fc solid;
}

.inscrire{
	font-family: raleway-gras;
	color: #0065fc;
}

/* barre de recherche*/

h1, h2{
	font-family: raleway-gras;
	font-size: 155%
}

section p{
	font-size: 110%;
}
fieldset{
	border: none;
}

.cherche{
	display: flex;
}

.loupe{
	height: 25px;
	margin-top: 10px;
}

input[type='search'], input[type='submit']{
	border: none;
	color: black;
	height: 55px;
	min-width: 275px;
	font-family: raleway;
	font-weight: bold;
	font-size: 125%;
	margin-left: 25px;
}

input[type='search'], input[type='submit']:focus{
	outline: none;
}

input[type='submit']{
	background-color: #0065fc;
	border-radius: 0 15px 15px 0;
	min-width: 150px;
	color: white;
}

input[type='image']{
	display: none;
}

/*filtres*/

.filtre{  
	width: 100%;
	display: block;
	justify-content: space-between;
	flex-wrap: wrap;
	font-weight: bold;
	font-size: large;
}

label{
	font-family: raleway-gras;
}

.checkbox input{
	display: none;
}

.switch{ /*partie blanche des boutons*/
	border-radius: 60px;
	display: inline-block;
	height: 60px;
	position: relative; 
	margin: 10px 10px;
	box-shadow: 0px 0px 7px grey;
}

.switch span{ /*l'alignement du texte*/
	vertical-align: middle;
}

.circle{ /*l'image associé au bouton*/
	display: inline-block;
	position: relative;
	border-radius: 60px;
	z-index:3;
}
.circle img{
	height: 60px;
}

.text{ /*texte dans les boutons*/
	display: inline-block;
	font-family: raleway-gras;
	position: relative;
	margin-right: 20px;
	z-index: 2;
	transition-duration: 0.2s;
}

.imblue{ /*partie bleu des boutons*/
	display: inline-block;
	position: absolute;
	left: 0;
	width: 60px; height: 60px;
	border-radius: 60px;
	z-index: 1;
	background-color: #0065fc;
	transition-duration: 0.2s;
}

input:checked + .switch .text{
	color: #f2f2f2;
}

input:checked + .switch .imblue{
	width: 100%;
}
form p{
	display: flex;
	font-size: large;
}
form p img{
	height: 30px;
	position: relative;
	top: -5px;
	margin-right: 5px;
}

/*les lieux*/

.lieu { 
	display: flex;
	margin-top: 50px;
	justify-content: space-between;
}

#hebergement{
	flex-direction: column;
	width: 66%;
	min-width: 700px;
	padding: 60px 0;
}

#chambre{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#titre{
	margin-top: -60px;
}

.lieu #case a {/*les boites*/
	width: 300px; height: 250px;
	border-radius: 35px; 
	position: relative;
	display: block;
	padding: 10px 10px;
	margin: 20px 10px;
	box-shadow: 0px 0px 7px grey;
}

#note{/* dans la boite*/
	display: flex;
	flex-direction: column;
	margin-left: 10px;
}

#case h3,#case p{ /*le texte*/
	margin: 5px 0;
}

.pict{ /*la photo*/
	width: 300px;
	height: 150px;
	object-fit: cover;
	border-radius: 25px 25px 0px 0px; 
}
.staryes, .starno{
	height: 17px;
}

/*pop*/

.pop{ /*la case pop*/
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap; 
}

#popul{ /*titre*/

	display: flex;
	justify-content: space-between;
	width: 400px;
	align-items: center;
	height: 50px;
}

.pop #case a{ /*la boite*/
	width: 400px;
	height: 170px;
	display: flex;
	align-items: center;
}

.pop .pict { /*image*/
	width: 150px;height: 170px;
	border-radius: 25px 0 0 25px;
}

.pop #note{ /* texte*/
	margin-left: 15px;
	width: 200px;
}

.pop #star{ /*les etoiles*/
	margin-top: 60px;
}

/*les activite*/


#activites{ /*la boite complete*/
	display: flex;
	flex-direction:column;
}

#typeacti{ /*la position des boites*/
	display: flex;
	flex-direction: row;
	height: auto;
	justify-content: center;
	flex-wrap: wrap;
	align-items: flex-start;
	margin-bottom: 30px;
}

#long{
	flex-direction: row;
	width: 50%;
	min-width: 350px;
	justify-content: space-around;
	flex-wrap: wrap;
	display: flex;
	}

#cote{
	flex-direction:column;
	flex-wrap: wrap;
	display: flex;
	width: auto;
	min-width: 350px;
}

.activites a{ /*la boite*/
	display: inline-block;
	margin: 0px 25px;
}

#littlebox img{
	height: 150px; width: 350px;
}

#bigbox img{
	height: 400px; width: 350px;

}
/*footer*/

footer{
	display:flex;
	flex-wrap: wrap;
	width: 80%;	
	margin-top: 50px;
	height: auto;
	justify-content: space-between; 
}

footer div{
	flex-direction: column;
	width: 350px;
	margin-bottom: 50px;
}

div ul{
	padding-left: 0px;
}

div ul li{
	list-style-type: none;
	font-size: x-large;
	margin-top: 20px;
}
/**** responsive transition****/
@media screen and (max-width: 1224px){
	
	.lieu {
		flex-direction: column-reverse;
		align-items: center;
	}

	.pop{
		width: 100%;
	}
	#beau{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		width: 100%;
	}

}
/****responsive format mobile****/

@media screen and (max-width: 785px){
	
	body{
		width: 100%;
	}

	header{
		height: 150px;
		width: 100%;
	}

	#entete{
		flex-direction: column;
	}

	nav img{
		position: absolute;
		margin-left: 20px;
		top: 0px;
	}

	#list{
		position: relative;
		top: 0px;
		flex-direction: column-reverse;
		width: 100%; 
		align-items: flex-end;
		bottom: 100px;
	}

	#list div{
		width: 100%;
	}

	.heberge, .act {
		border-top: none;
		height: 50px;
		width: 50%;
	}

	.inscrire{
		width:auto;
		height: 45px;
		position: absolute;
		bottom: 60px;
		right: 20px;	
	}

	.heberge, .act{
		border-bottom: 4px #f2f2f2 solid;
	}

	#list a:hover{
		border-top: none;
	}

	.heberge:hover, .act:hover{

		border-bottom: 4px #0065fc solid;
	}
	
	section h1, section p{
		margin-left: 15px;
		width: 85%;
	}

	input[type='submit']{
		display: none;
	}

	input[type='image']{
		height: 60px;
		display: block;
	}

	.cherche{
		width: 100%;
		justify-content: space-between;
	}

	.lieu{
		flex-direction: column-reverse;
		align-items: center;
	}

	#hebergement{
		width: 100%;
	}

	#chambre{
		justify-content: space-around;
	}

	#hebergement  #case a{

		display: inline; 
		padding: 5px 50px;
		margin: 0px;
		box-shadow: 0px 0px 0px ;
	}

	.pict{
		width: 400px;
	}

	#titre, #unpeuplus{
		margin-left: 130px;
	}

	#title{
		margin-left: 20px;
	}

	 #typeacti{
		width: auto;
		align-items: center;
		height: auto;
	}

	#typeacti a{
		margin-bottom: 30px;
	}

	#long{
		width: auto;
	}

	#cote{
		width: auto;
	}

	#littlebox img, #bigbox img{
		width: 400px;
		height: 150px;
	}

	#resume{
		margin-left: 20px;
	}

	footer{
		
		display: block;
		margin-top: 50px;
		margin-left: 20px;
	}

	footer div{
		width: 400px;
		padding-bottom: 40px;
	}
}