@font-face {
	font-family: raleway;
	src : url('typo/raleway.woff') format('woff'),
		url('typo/raleway.otf') format('otf'),
		url('typo/raleway.ttf') format('ttf'),
		url('typo/raleway.svg') format('svg');
}

@font-face {
font-family: raleway-gras;
	src : url('typo/raleway-gras.woff') format('woff'),
		url('typo/raleway-gras.otf') format('otf'),
		url('typo/raleway-gras.ttf') format('ttf'),
		url('typo/raleway-gras.svg') format('svg');
}

*{
	font-family: raleway, Arial, georgia, sans-serif;
	color: black;
}

h3{			
	font-family: raleway-gras, 'Arial black', Verdana, serif;
	color: black;
	font-size: large;
}

a{
	text-decoration: none;
}

body{
	background-color: #f2f2f2;
	margin: auto;
	width: 92%;
}

header{
	display: flex;
	align-items: center;
	height: 150px;
	width: 100%;
}

#entete{
	justify-content: space-between;
	display: flex;
	width:100%; 
}

nav img{
	height: 60px;
	margin-top: 50px;
}

#list{
	width: 525px;
	height: 150px;
	display: flex;
}

#list div{
	flex-wrap: nowrap;
	display: flex;
}

.heberge, .act, .inscrire{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 150px;
	width: 175px;
	border-top: 4px #f2f2f2 solid;
	font-size: large;
}

#list a:hover{
	color: #0065fc;
	border-top: 4px #0065fc solid;
}

.inscrire{
	font-family: raleway-gras, 'Arial black', Verdana, serif;
	color: #0065fc;
}

h1, h2{
	font-family: raleway-gras, 'Arial black', Verdana, serif;
	font-size: 155%
}

section p{
	font-size: 110%;
}

fieldset{
	border: none;
}

.cherche{
	display: flex;
}

.loupe{
	height: 30px;
	margin-top: 15px;
}

input[type='search'], input[type='submit']{
	border: none;
	height: 55px;
	min-width: 275px;
	font-weight: bold;
	font-size: 125%;
	margin-left: 25px;
}

input[type='search'], input[type='submit']:focus{
	outline: none;
}

input[type='submit']{
	background-color: #0065fc;
	border-radius: 0 20px 20px 0;
	min-width: 180px;
	min-height: 70px;
	color: white;
}

input[type='image']{
	display: none;
}

.filtre{
	flex-direction: row;
	display: flex;
	padding: 20px 0 0 0;
}

#filtres{
	display: inline-block;
	font-size: x-large;
	margin: 25px 45px 0 0;
	font-family: raleway-gras, 'Arial black', Verdana, serif;
	margin-bottom: 10px;
}

.checkbox{
	display: inline-block;
}

.checkbox input{
	display: none;
}

.switch{
	border-radius: 60px;
	display: inline-block;
	height: 60px;
	position: relative; 
	margin: 10px 10px;
	box-shadow: 0px 0px 7px grey;
}

.switch span{
	vertical-align: middle;
}

.circle{
	display: inline-block;
	position: relative;
	z-index:3;
}
.circle img{
	height: 60px;
}

.text{
	font-weight: bold;
	font-size: large;
	font-family: raleway-gras, 'Arial black', Verdana, serif;
	position: relative;
	margin-right: 20px;
	z-index: 2;
	transition-duration: 0.2s;
}

.imblue{
	position: absolute;
	left: 0;
	width: 60px; height: 60px;
	border-radius: 60px;
	z-index: 1;
	background-color: #0065fc;
	transition-duration: 0.2s;
}

input:hover + .switch .text{
	color: #f2f2f2;
}

input:hover + .switch .imblue{
	width: 100%;
}
form p{
	display: flex;
	font-size: large;
}

form p img{
	height: 30px;
	position: relative;
	top: -5px;
	margin-right: 5px;
}

.lieu { 
	display: flex;
	margin-top: 50px;
	justify-content: space-between;
}

#hebergement{
	flex-direction: column;
	width: 70%;
	min-width: 700px;
	padding: 60px 0;
}

#chambre{
	display: flex;
	flex-wrap: wrap;
}

#titre{
	margin-top: -60px;
}

.case a{
	width: 300px; height: 250px;
	border-radius: 35px; 
	position: relative;
	display: block;
	padding: 10px 10px;
	margin: 20px 10px;
	box-shadow: 0px 0px 7px grey;
}

.note{
	display: flex;
	flex-direction: column;
	margin-left: 10px;
}

.case h3,.case p{ 
	margin: 5px 0;
}

figure{
	display:inline;
	margin: 0px;
}

.pict{
	width: 300px;
	height: 150px;
	object-fit: cover;
	border-radius: 25px 25px 0px 0px; 
}

.staryes, .starno{
	height: 17px;
}

.pop{
	display: flex;
	flex-direction: column;
	align-items: center;
}

#popul{
	display: flex;
	justify-content: space-between;
	width: 400px;
	align-items: center;
	height: 50px;
}
#more{
	width: 25px;
}
.pop .case a{
	width: 400px;
	height: 170px;
	display: flex;
	align-items: center;
}

.pop .pict {
	width: 150px;height: 170px;
	border-radius: 25px 0 0 25px;
}

.pop .note{
	margin-left: 15px;
	width: 200px;
}

.star{
	margin-top: 10px;
}

.pop .star{
	margin-top: 60px;
}

#activites{ 
	display: flex;
	flex-direction:column;
}

#typeacti{
	display: flex;
	flex-direction: row;
	height: auto;
	justify-content: center;
	flex-wrap: wrap;
	align-items: flex-start;
	margin-bottom: 30px;
}

.long{
	flex-direction: row;
	width: 50%;
	min-width: 350px;
	justify-content: space-around;
	flex-wrap: wrap;
	display: flex;
}

.cote{
	flex-direction:column;
	flex-wrap: wrap;
	display: flex;
	width: auto;
	justify-content: space-between;
	min-width: 350px;
}

.activites a{
	display: inline-block;
	margin: 0px 25px;
}

.littlebox img{
	height: 150px; width: 350px;
}

.bigbox img{
	height: 400px; width: 350px;
}

footer{
	display:flex;
	flex-wrap: wrap;
	width: 80%;	
	margin-top: 50px;
	height: auto;
	justify-content: space-between; 
}

footer div{
	flex-direction: column;
	width: 350px;
	margin-bottom: 50px;
}

div ul{
	padding-left: 0px;
}

div ul li{
	list-style-type: none;
	font-size: x-large;
	margin-top: 20px;
}

/**** responsive de transition****/
@media screen and (max-width: 1224px){
	.lieu {
		flex-direction: column-reverse;
		align-items: center;
	}

	.pop{
		width: 90%;
	}

	#beau{
		flex-direction: row;
		display: flex;
		flex-wrap: wrap;
	}

	#titre{
		text-align: center;
		padding-right: 50px;
	} 

	#unpeuplus{
		text-align: center;
		padding-right: 250px; 
	}
}

@media screen and (max-width: 1090px){
	#beau{
		flex-direction: column;
	}
}

/****responsive format mobile****/
@media screen and (max-width: 785px){
	body{
		width: 100%;
	}

	header{
		height: 150px;
		width: 100%;
	}

	#entete{
		flex-direction: column;
	}

	nav img{
		position: absolute;
		margin-left: 20px;
		margin-top: 35px;
		top: 0px;
	}

	#list{
		position: relative;
		top: 0px;
		flex-direction: column-reverse;
		width: 100%; 
		align-items: flex-end;
		bottom: 100px;
	}

	#list div{
		width: 100%;
	}

	.heberge, .act {
		border-top: none;
		height: 50px;
		width: 50%;
	}

	.inscrire{
		width:auto;
		height: 45px;
		position: absolute;
		bottom: 60px;
		right: 20px;	
	}
	.filtre{
		flex-direction: column;
	}
	.heberge, .act{
		border-bottom: 4px #f2f2f2 solid;
	}

	#list a:hover{
		border-top: none;
	}

	.heberge:hover, .act:hover{

		border-bottom: 4px #0065fc solid;
	}
	
	section h1, section p{
		margin-left: 15px;
		width: 85%;
	}

	input[type='submit']{
		display: none;
	}

	input[type='image']{
		height: 60px;
		display: block;
	}

	.cherche{
		margin-top: 40px;
		width: 100%;
		justify-content: space-between;
	}

	#popul{
		margin-top: 20px;
	}

	.lieu{
		flex-direction: column-reverse;
		align-items: center;
	}

	#hebergement{
		width: 100%;
		min-width: 10px;
		justify-content: center;
	}
	#titre{
		margin-top: 25px;
		margin-bottom: -20px;
	} 
	#chambre{
		width: 100%;
		justify-content: center;
	}

	#hebergement .case a{
		display: block; 
		width: 	auto;
		box-shadow: 0px 0px 0px ;
	}

	.pict{
		width: 400px;
	}

	#title{
		text-align: center;
		padding-right: 125px;
	}

	 #typeacti{
		width: auto;
		align-items: center;
		height: auto;
	}

	#typeacti a{
		margin-bottom: 30px;
	}

	.long{
		width: auto;
	}

	.cote{
		width: auto;
	}

	.littlebox img, .bigbox img{
		width: 400px;
		height: 150px;
	}

	.resume{
		margin-left: 20px;
	}

	footer{
		display: block;
		margin-top: 50px;
		margin-left: 20px;
	}

	footer div{
		width: 400px;
		padding-bottom: 40px;
	}
}